.hero {
	display: flex;
	flex-direction: column;
	gap: clamp(1rem, 5vw, 3.5rem);
	line-height: 1;

	padding: clamp(1rem, 10vw, 10rem);
}

.hero_header {
	font-size: 4rem;
}

.hero_description {
	font-size: 1.5rem;
}

.hero_button {
	font-size: 1.5 rem;
}
