.topbar {
	position: sticky;
	top: 0;
	z-index: 50;
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	height: 4rem;
	padding-inline: 6rem;
	background-color: color-mix(in srgb, var(--bg), var(--text) 2%);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	text-align: center;

	border-bottom: 1px solid var(--border-muted);
}

.left {
	display: flex;
	justify-content: flex-start;
}

.right {
	display: flex;
	justify-content: flex-end;
	gap: 1.75rem;

	a {
		color: var(--text-muted);
		&:hover {
			color: var(--text);
		}
	}
}

.logo_link {
	width: fit-content;
	color: var(--text);
	font-weight: 800;
	font-family: var(--font-heading);
	text-decoration: none;
}
